@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a:link { 
  text-decoration: none; 
  color: rgb(75, 75, 75);
} 
a:visited { 
  text-decoration: none; 
  color: rgb(75, 75, 75);
} 
a:hover { 
  text-decoration: none; 
  color: rgb(75, 75, 75);
} 
a:active { 
  text-decoration: none; 
  color: rgb(75, 75, 75);
}


ul, ol {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}

/* .left-links, .right-links{
  display: flex;
  gap: 5px;
} */

/* HEADER */

.header{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* CONTENT */

.content{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 223, 223);
  padding: 8px;
}